language: ruby
cache: bundler

rvm:
  - 2.3.4

addons:
  postgresql: "9.3"

before_script:
  - bundle exec rake db:create_roles
  - RAILS_ENV=test bundle exec rake db:setup db:migrate
  - bin/yarn install
